// Colors
$clr1: #3c3c3c;
$clr2: #77d8d8;
$clr3: #eff3c6;
$clr4: #95adbe;
$clr5: #6bb0bf;
$clr6: #fff;

// padding header
$header-height: 50px;

// Breakpoints
$mobile-breakpoint: 520px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1200px;

